@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	--colorText: #002b21;
	/* --colorTextLighten: #0f4d3e; */
	--colorTextMuted: #87a69d;
	--colorTextMutedLight: #e7f3ef;
	--colorTextEm: #114e3e;
	--colorPrimary: #009c73;
	--colorBorder: #9cccc0;
	--colorPrimaryGreyish: #e7f3ef;
	--colorBackground: #eafff8;
	--colorBackgroundDark: #ccf3e5;
	--colorBackgroundLight: #f4fffb;
	
	background: var(--colorBackground);
	color: var(--colorText);
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	font-family: "TheMix", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: var(--colorTextEm);
	text-decoration: underline;
	text-underline-offset: 2px;
	text-decoration-color:  var(--colorBorder);
	position: relative;
}

a:hover {
	color: var(--colorPrimary);
}

a:visited {
	color: var(--colorPrimary);
}

label {
	display: block;
}
svg text{
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

